html
  head
    title LoL Dashboard
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    .container-fluid.top-level-container
        .container-fluid.col-xs-12.col-sm-10.col-sm-offset-1.better-ranks
          each rank in betterRanks
            a(href='https://na.op.gg/summoner/userName=' + rank.name)
              .row
                .row-content.col-xs-6 
                  img.row-image(src='images/tier-icons/tier-icons/' + (rank.tier + '_' + rank.rank).toLowerCase() + '.png')
                  .row-text
                    .row-name= rank.name 
                    .row-rank= rank.tier + ' ' + rank.rank + ' - ' + rank.leaguePoints + " LP"
                .row-content.col-xs-6 
                  .row-text You're a nerd...
          .better-ranks-overlay
        .container-fluid.col-xs-12.col-sm-10.col-sm-offset-1.my-rank
          a(href='https://na.op.gg/summoner/userName=' + myRank.name)
            .row
              .row-content.col-xs-6 
                img.row-image(src='images/tier-icons/tier-icons/' + (myRank.tier + '_' + myRank.rank).toLowerCase() + '.png')
                .row-text
                  .row-name= myRank.name 
                  .row-rank= myRank.tier + ' ' + myRank.rank + ' - ' + myRank.leaguePoints + " LP"
              .row-content.col-xs-6 
                .star-content
                  span.glyphicon.glyphicon-star.star(aria-hidden='true')
                  span.glyphicon.glyphicon-star.star(aria-hidden='true')
                  span.glyphicon.glyphicon-star.star(aria-hidden='true')
                  span.glyphicon.glyphicon-star.star(aria-hidden='true')
                  span.glyphicon.glyphicon-star.star(aria-hidden='true')
        .container-fluid.col-xs-12.col-sm-10.col-sm-offset-1.worse-ranks
          each rank in worseRanks
            a(href='https://na.op.gg/summoner/userName=' + rank.name)
              .row
                .row-content.col-xs-6 
                  img.row-image(src='images/tier-icons/tier-icons/' + (rank.tier + '_' + rank.rank).toLowerCase() + '.png')
                  .row-text
                    .row-name= rank.name 
                    .row-rank= rank.tier + ' ' + rank.rank + ' - ' + rank.leaguePoints + " LP"
                .row-content.col-xs-6 
                  .row-text 
                    | I'm 
                    span.green= ((myRank.effectiveRank() / rank.effectiveRank() - 1) * 100).toFixed(0) + '%' 
                    |  span better than you, scrub.
    .container-fluid.disclaimer-footer
      .row
        .row-content.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3 LoL Dashboard isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
